@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


body {
    background: url(imagens/imagem.empresa01.jpg);
}


header > h1 {
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

span#burguer {
    background-color: rgb(43, 39, 39);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

span#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu li {
    border: 2px;
    border-color: black;
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(87, 87, 87);
    color: white;
    border-top: 2px solid rgba(128, 128, 128, 0.664);
    font-weight: bold;
}

 menu > ul > li > a:hover {
    background-color: rgba(128, 128, 128, 0.685);
    transition-duration: 0.5s;
 }

 main {
    width: 90%;
    background-color: rgba(211, 211, 211, 0.664);
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
 }

 article > h2 {
    padding-bottom: 20px;
    text-align: center;
    text-decoration: underline;
 }

 article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 15px;
 }